<div class="page-header">

    <div>

        <h2>Assign Patient</h2>

        <p>
            Assign patients to available hospital rooms
        </p>

    </div>

</div>

<div class="form-container">

    <form
        action="/assignments/add"
        method="POST"
        class="styled-form"
    >

        <!-- PATIENT -->

        <div class="form-group">

            <label>Select Patient</label>

            <select name="patient_id" required>

                <% patients.forEach(patient => { %>

                    <option value="<%= patient.patient_id %>">

                        <%= patient.full_name %>
                        -
                        <%= patient.isolation_priority %>

                    </option>

                <% }) %>

            </select>

        </div>

        <!-- ROOM -->

        <div class="form-group">

            <label>Select Room</label>

            <select name="room_id" required>

                <% rooms.forEach(room => { %>

                    <option value="<%= room.room_id %>">

                        Room <%= room.room_number %>
                        -
                        <%= room.room_type %>

                    </option>

                <% }) %>

            </select>

        </div>

        <!-- BUTTONS -->

        <div class="form-actions">

            <button
                type="submit"
                class="btn"
            >
                Assign Patient
            </button>

            <a
                href="/assignments"
                class="btn secondary-btn"
            >
                Cancel
            </a>

        </div>

    </form>

</div>